{% extends "base_registration.html" %}

{% block content %}
  <div class="row">
    {% include "fragments/password_reset_confirm_form.html" %}
  </div>

{% endblock %}



{% block script %}
    <script type="text/javascript">
        var url_elements = window.location.pathname.split('/');
        if (url_elements.length > 2){
            var uid = url_elements[url_elements.length - 3];
            if (uid !== undefined){
            document.getElementById('uid').value=uid; 
            }
            else{
                console.log("undefined uid");
            }
            var token = url_elements[url_elements.length - 2];
            if (token !== undefined){
                document.getElementById('token').value=token; 
            }
            else{
                console.log("undefined token");
            }
        }
    </script>
{% endblock %}