{% load static from staticfiles %}
<form class="form-horizontal ajax-post col-sm-6 col-sm-offset-3" role="form" action="{% url 'rest_verify_email' %}">{% csrf_token %}
      <img class="logo" src="{% static 'authentication/image/logo-mexico-gp.png' %}" class="img-responsive">
      <h3>Confirmar cuenta.</h3>
      
      <input name="key" type="hidden" class="form-control" id="key">
    
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">CAMBIAR CONTRASEÑA</button>
    </div>
  </div>

  <div class="form-group api-response"></div>
</form>